<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="vSharpStudio.common" #>
<#@ import namespace="ApplicationLogging" #>

<#=t4.SrcCs()#>
//       IsWithParent: <#=this.Doc.IsWithParent#> 
//      IsDefaultBase: <#=this.Doc.IsDefaultBase#> 
// IsConfigObjectBase: <#=this.Doc.IsConfigObjectBase#> 
//      IsGenSettings: <#=this.Doc.IsGenSettings#> 
//     IsBindableBase: <#=this.Doc.IsBindableBase#> 
//     IsEditableBase: <#=this.Doc.IsEditableBase#> 
//  IsValidatableBase: <#=this.Doc.IsValidatableBase#> 
//    IsISortingValue: <#=this.Doc.IsISortingValue#> 
public partial class <#= message.Name.ToNameCs() #>Validator : ValidatorBase<<#= message.Name.ToNameCs() #>, <#= message.Name.ToNameCs() #>Validator>  <#=t4.SrcCs()#>
{
    private void GeneralRules() <#=t4.SrcCs()#>
    {
<#    foreach (var t in message.Fields.InDeclarationOrder()) { 
         if (t.FieldType == Google.Protobuf.Reflection.FieldType.String && !t.IsRepeated) {#>
        this.RuleFor(x => x.<#=t.Name.ToNameCs()#>).Custom((str, cntx) => <#=t4.SrcCs()#>
        {
            try
            {
                System.Text.Encoding.UTF8.GetString(System.Text.Encoding.Default.GetBytes(str));
            }
            catch(Exception ex)
            {
                cntx.AddFailure(Common.CreateValidationFailure("<#=t.Name.ToNameCs()#>", $"Can't convert to UTF8. Error: {ex.Message}"));
            }
        });
<#       }
      } #>
    }
}
<#= this.Doc.Comments #><#= this.Doc.Attributes #>public partial class <#= message.Name.ToNameCs() #><#= this.Doc.BaseClass #>, I<#= message.Name.ToNameCs() #> <#=t4.SrcCs()#>
{
<# if (this.Doc.IsBindableBase) { #>
    public override void ToDebugString(StringBuilder sb) <#=t4.SrcCs()#>
    {
/*
        var t = this.GetType();
        sb.Append(t.Name);
        sb.Append(":");
        var p = t.GetProperty("Name");
        if (p != null)
        {
            sb.Append((string?)p.GetValue(this));
            sb.Append(":");
        }*/
<# if (this.Doc.IsConfigObjectBase) { #>
        sb.Append(this.Name);
        sb.Append(":");
        if (this.IsNew)
            sb.Append(" New");
        if (this.IsHasNew)
            sb.Append(" HasNew");
        if (this.IsHasChanged)
            sb.Append(" HasChanged");
/*        p = t.GetProperty("IsNew"); <#=t4.SrcCs()#>
        if (p != null)
            if ((bool?)p.GetValue(this) == true)
                sb.Append(" New");
        p = t.GetProperty("IsHasNew");
        if (p != null)
            if ((bool?)p.GetValue(this) == true)
                sb.Append(" HasNew");*/
<# } #>
        base.ToDebugString(sb); <#=t4.SrcCs()#>
        OnDebugStringExtend(sb);
    }
    partial void OnDebugStringExtend(StringBuilder sb);
<# } #>
    #region CTOR <#=t4.SrcCs()#>
<# if (this.Doc.IsWithParent) { #>
    public <#= message.Name.ToNameCs() #>(<#=this.Doc.ParentTypeName#>? parent) <#=t4.SrcCs()#>
        : base(parent, <#= message.Name.ToNameCs() #>Validator.Validator)
    {
        //Debug.Assert(/*!VmBindable.isUnitTests*/ this is IDataType || this is IConfig || parent != null);
        this.OnCreating();
<#    foreach (var t in message.Fields.InDeclarationOrder()) { 
         if (t.IsRepeated) {#>
<# if (t.IsMap()) { #>
        this._<#= t.Name.ToNameCs() #> = new Dictionary<<#=t.GetMapKeyCs()#>, <#=t.GetMapValueCs(true)#>>(); <#=t4.SrcCs()#>
<# } else if (this.IsObservable(t)) { #>
        this._<#= t.Name.ToNameCs() #> = new ObservableCollectionWithActions<<#=t.ToTypeCs()#>>(); <#=t4.SrcCs()#>
<# } else { #>
        this._<#= t.Name.ToNameCs() #> = new ConfigNodesCollection<<#=t.ToTypeCs()#>>(this); <#=t4.SrcCs()#>
<# } #>
<#       } else if (t.IsMessage()) { if (t.IsCsSimple()) continue; #>
<#         if (t.GetMessageDoc().IsWithParent) { #>
        this._<#= t.Name.ToNameCs() #> = new <#= t.ToTypeCs() #>(this); <#=t4.SrcCs()#>
<#		   } else { #>
        this._<#= t.Name.ToNameCs() #> = new <#= t.ToTypeCs() #>(); <#=t4.SrcCs()#>
<#		   } #>
<#		 } else if (t.IsMap) { #>
		map??? <#=t4.SrcCs()#>
<#		 } #>
<# } #>
        this.OnCreated();
    }
<# } else { #>
    public <#= message.Name.ToNameCs() #>()<# if (this.Doc.IsValidatableBase) { #> 
        : base(<#= message.Name.ToNameCs() #>Validator.Validator)<# } #> <#=t4.SrcCs()#>
    {
        this.OnCreating();
<# foreach (var t in message.Fields.InDeclarationOrder())	{ 
        if (t.IsCsSimple() && !t.IsRepeated)
           continue;
		if (t.IsRepeated) {#>
<# if (!t.IsMessage() || t.IsAny() || !JsonDoc.Files[root.Name].Messages[t.MessageType.Name].IsDefaultBase) { #>
        this._<#=t.Name.ToNameCs()#> = new ObservableCollectionWithActions<<#=t.ToTypeCs()#>>(); <#=t4.SrcCs()#>
<# } else { #>
<#	 if (t.IsMap) { #>
        this._<#=t.Name.ToNameCs()#> = new <#= t.ToTypeCs()#>(); <#=t4.SrcCs()#>
<#   } else { #>
        this._<#=t.Name.ToNameCs()#> = new ConfigNodesCollection<<#= t.ToTypeCs()#>>(this); <#=t4.SrcCs()#>
<#   } #>
<# } #>
<#		} else if (t.IsMessage()) { #>
<# if (t.IsAny() || !JsonDoc.Files[root.Name].Messages[t.MessageType.Name].IsDefaultBase) { #>
        this._<#= t.Name.ToNameCs() #> = new <#= t.ToTypeCs() #>(); <#=t4.SrcCs()#>
<# } else if (t.IsNullable()) { #>
<# } else { #>
        this._<#= t.Name.ToNameCs() #> = new <#= t.ToTypeCs() #>(this); <#=t4.SrcCs()#>
<# } #>
<#		} else if (t.IsMap) { #>
		map??? <#=t4.SrcCs()#>
<#		} #>
<# } #>
        this.OnCreated();
    }
<# } #>
    // Use fields to set properties of this class during creation to avoid property change notification
    partial void OnCreating(); <#=t4.SrcCs()#>
    partial void OnCreated();
    #endregion CTOR
    #region Procedures
<#	
	this.PushIndent("    ");
	
    var cloner = new Clone(root, message, nameSpace, protoNameSpace);
	this.Write(cloner.TransformText());

	var va = new AcceptNodeVisitor(root, message);
	this.Write(va.TransformText());

    /*if (is_config_base) {
	    var av = new AcceptValidator(root, message);
	    this.Write(av.TransformText());
    }*/

	this.PopIndent(); #>
    #endregion Procedures
    #region Properties <#=t4.SrcCs()#>
<#	this.PushIndent("    ");
	foreach (var t in this.GetFields())
	{
		var p = new Property(root, message, t);
		this.Write(p.TransformText());
	}
	this.PopIndent(); #>
<# if (this.Doc.IsWithParent) { #>
<#   if (this.Doc.IsConfigObjectBase) { #>
    protected override void OnIsChangedChanged() { OnNodeIsChangedChanged(); } <#=t4.SrcCs()#>
<#   } else { #>
<# } #>
<# if (this.Doc.IsICanAddNode) { #>
    partial void OnIsNewChanged() { OnNodeIsNewChanged(); } <#=t4.SrcCs(message.Name)#>
    partial void OnIsMarkedForDeletionChanged() { OnNodeIsMarkedForDeletionChanged(); }
<# } #>
<# } #>
    #endregion Properties
}
